[submodule "src/app/Vendor/twitter"]
	path = src/app/Vendor/twitter
	url = https://github.com/J7mbo/twitter-api-php.git
[submodule "src/app/Vendor/phpmailer"]
	path = src/app/Vendor/phpmailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "src/cakephp"]
	path = src/cakephp
	url = https://github.com/cakephp/cakephp.git
[submodule "src/app/Vendor/EmailReplyParser"]
	path = src/app/Vendor/EmailReplyParser
	url = https://github.com/willdurand/EmailReplyParser
[submodule "src/app/Vendor/twitter-text-php"]
	path = src/app/Vendor/twitter-text-php
	url = https://github.com/nojimage/twitter-text-php.git
