body
{
	background-image: url('../img/bg.svg');
	background-attachment: fixed;
	background-repeat: repeat-x;
}
blockquote > a
{
	color: #222222;
}

blockquote cite a.label
{
	color: #ffffff;
}

blockquote ul li blockquote
{
  margin-bottom: 0;
}

.submit-translation textarea
{
  min-height: 0;
  resize: none;
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s; 
  -moz-transition: all 0.2s; 
  margin-bottom: 3px;
}

.submit-translation .below-textarea{
  display: none;
}

a#logo
{
	padding: 0.38rem;
}
a#logo img
{
	width: 5rem;
	height: 5rem;
}

div#nav-bar
{
	margin-bottom: 1.5rem;
}

div.columns
{
	background-color: #ffffff;
}

body#translators div#nav-bar a#nav-bar-translators, body#phrases div#nav-bar a#nav-bar-phrases, body#score div#nav-bar a#nav-bar-score, body#about div#nav-bar a#nav-bar-about
{
	background-color: #2b6aa6;
}

form select#SrcLangSrcLang, form select#TgtLangTgtLang
{
	height: 30rem;
}


i.score-star{
    color: white;
    font-size: 18px;
    text-shadow: 0 0 2px #26318B;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #26318B;
}

i.score-star.highlighted{
    font-size: 20px;
    -webkit-text-fill-color: #26318B;
    -webkit-text-stroke-width: 0px;
    color: #26318B;
    text-shadow: 0 0 10px #26318B;
}

i.score-star.highlighted:before{
}

a.score-star{
    margin: 0 2px;
}

ul.score li
{
	width: 20%;
}

ul.score li a
{
	width: 100%;
}
